### LOC, ILOC | GROUPBY

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data = pd.read_csv("/content/netflix_data.csv")
data.head()

  show_id  ...             genre
0      s1  ...  International TV
1      s2  ...            Dramas
2      s3  ...     Horror Movies
3      s4  ...            Action
4      s5  ...            Dramas

[5 rows x 11 columns]

### LOC

In [ ]:
# data.loc[<row labels>, <column labels>]
data.loc[:,["type"]].value_counts()

type
Movie      5377
TV Show    2410
dtype: int64

In [ ]:
data["country"].nunique()

81

In [ ]:
data.loc[:,["country"]].value_counts().head()

country
United States     2883
India              956
United Kingdom     577
Canada             259
Japan              237
France             196
South Korea        194
Spain              168
Mexico             123
Australia          108
Turkey             106
Egypt              105
Germany             92
China               86
Taiwan              82
Brazil              79
Hong Kong           77
Indonesia           76
Philippines         75
Nigeria             71
Argentina           68
Thailand            61
Italy               59
Colombia            36
South Africa        35
Denmark             30
Singapore           28
Ireland             26
Poland              26
Netherlands         25
dtype: int64

In [ ]:
data.loc[1,"cast"]

'Demián Bichir, Héctor Bonilla, Oscar Serrano, Azalia Ortiz, Octavio Michel, Carmen Beato'

In [ ]:
arr = data.loc[1,"cast"].split(", ")
print(arr)

['Ama Qamata', 'Khosi Ngema', 'Gail Mabalane', 'Thabang Molaba', 'Dillon Windvogel', 'Natasha Thahane', 'Arno Greeff', 'Xolile Tshabalala', 'Getmore Sithole', 'Cindy Mahlangu', 'Ryle De Morny', 'Greteli Fincham', 'Sello Maake Ka-Ncube', 'Odwa Gwanya', 'Mekaila Mathys', 'Sandi Schultz', 'Duane Williams', 'Shamilla Miller', 'Patrick Mofokeng']

In [ ]:
data.loc[1,"cast"]

'Ama Qamata, Khosi Ngema, Gail Mabalane, Thabang Molaba, Dillon Windvogel, Natasha Thahane, Arno Greeff, Xolile Tshabalala, Getmore Sithole, Cindy Mahlangu, Ryle De Morny, Greteli Fincham, Sello Maake Ka-Ncube, Odwa Gwanya, Mekaila Mathys, Sandi Schultz, Duane Williams, Shamilla Miller, Patrick Mofokeng'

In [ ]:
len(arr)

19

#### add a col in this existing dataset
#### col of cast num_of_cast

## Question 1:

Create a new column in the provided dataset. Column name should be num_of_cast. The assignment was already explained in class. You have to append or add acolumn in the dataset which contains the total number of cast in that particular movie or Tv-Show.

In [ ]:
num_of_cast

0       [João Miguel, Bianca Comparato, Michel Gomes, ...
1       [Demián Bichir, Héctor Bonilla, Oscar Serrano,...
2       [Tedd Chan, Stella Chung, Henley Hii, Lawrence...
3       [Elijah Wood, John C. Reilly, Jennifer Connell...
4       [Jim Sturgess, Kevin Spacey, Kate Bosworth, Aa...
                              ...
7782    [Imad Creidi, Antoinette Turk, Elias Gergi, Ca...
7783    [Vicky Kaushal, Sarah-Jane Dias, Raaghav Chana...
7784                                            [Nasty C]
7785                         [Adriano Zumbo, Rachel Khoo]
7786                                                    0
Name: cast, Length: 7787, dtype: object

In [ ]:
num_of_cast=data.loc[:,"cast"].str.split(", ")

In [ ]:
num_of_cast

0       [João Miguel, Bianca Comparato, Michel Gomes, ...
1       [Demián Bichir, Héctor Bonilla, Oscar Serrano,...
2       [Tedd Chan, Stella Chung, Henley Hii, Lawrence...
3       [Elijah Wood, John C. Reilly, Jennifer Connell...
4       [Jim Sturgess, Kevin Spacey, Kate Bosworth, Aa...
                              ...
7782    [Imad Creidi, Antoinette Turk, Elias Gergi, Ca...
7783    [Vicky Kaushal, Sarah-Jane Dias, Raaghav Chana...
7784                                            [Nasty C]
7785                         [Adriano Zumbo, Rachel Khoo]
7786                                                    0
Name: cast, Length: 7787, dtype: object

In [ ]:
num_of_cast

0       [João Miguel, Bianca Comparato, Michel Gomes, ...
1       [Demián Bichir, Héctor Bonilla, Oscar Serrano,...
2       [Tedd Chan, Stella Chung, Henley Hii, Lawrence...
3       [Elijah Wood, John C. Reilly, Jennifer Connell...
4       [Jim Sturgess, Kevin Spacey, Kate Bosworth, Aa...
                              ...
7782    [Imad Creidi, Antoinette Turk, Elias Gergi, Ca...
7783    [Vicky Kaushal, Sarah-Jane Dias, Raaghav Chana...
7784                                            [Nasty C]
7785                         [Adriano Zumbo, Rachel Khoo]
7786                                                    0
Name: cast, Length: 7787, dtype: object

In [ ]:
num_of_cast=num_of_cast.replace(0, '').apply(list) # All data frame

In [ ]:
num_of_cast

0       [João Miguel, Bianca Comparato, Michel Gomes, ...
1       [Demián Bichir, Héctor Bonilla, Oscar Serrano,...
2       [Tedd Chan, Stella Chung, Henley Hii, Lawrence...
3       [Elijah Wood, John C. Reilly, Jennifer Connell...
4       [Jim Sturgess, Kevin Spacey, Kate Bosworth, Aa...
                              ...
7782    [Imad Creidi, Antoinette Turk, Elias Gergi, Ca...
7783    [Vicky Kaushal, Sarah-Jane Dias, Raaghav Chana...
7784                                            [Nasty C]
7785                         [Adriano Zumbo, Rachel Khoo]
7786                                                   []
Name: cast, Length: 7787, dtype: object

In [ ]:
data["num_of_cast"]=num_of_cast.str.len()

In [ ]:
data

     show_id     type  ...             genre num_of_cast
0         s1  TV Show  ...  International TV          11
1         s2    Movie  ...            Dramas           6
2         s3    Movie  ...     Horror Movies           9
3         s4    Movie  ...            Action           9
4         s5    Movie  ...            Dramas          12
...      ...      ...  ...               ...         ...
7782   s7783    Movie  ...            Dramas           7
7783   s7784    Movie  ...            Dramas           8
7784   s7785    Movie  ...     Documentaries           1
7785   s7786  TV Show  ...  International TV           2
7786   s7787    Movie  ...     Documentaries           0

[7787 rows x 12 columns]

### ILOC

In [ ]:
data.head()

  show_id     type  ...             genre num_of_cast
0      s1  TV Show  ...  International TV          11
1      s2    Movie  ...            Dramas           6
2      s3    Movie  ...     Horror Movies           9
3      s4    Movie  ...            Action           9
4      s5    Movie  ...            Dramas          12

[5 rows x 12 columns]

In [ ]:
data.loc[data["title"]=="Kota Factory"]

Empty DataFrame
Columns: [show_id, type, title, director, cast, country, date_added, release_year, duration, description, genre, num_of_cast]
Index: []

In [ ]:
# One Hot Encoding
# data["cast"] = data['cast'].replace(np.nan, "None")
data["director"] = data['director'].replace(np.nan, "None")
data

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,Kirsten Johnson,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,None,None,South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,Julien Leclercq,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,None,None,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,None,None,India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...
...,...,...,...,...,...,...,...,...,...,...,...,...
8802,s8803,Movie,Zodiac,David Fincher,David Fincher,United States,"November 20, 2019",2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a..."
8803,s8804,TV Show,Zombie Dumb,None,None,NaN,"July 1, 2019",2018,TV-Y7,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g..."
8804,s8805,Movie,Zombieland,Ruben Fleischer,Ruben Fleischer,United States,"November 1, 2019",2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...
8805,s8806,Movie,Zoom,Peter Hewitt,Peter Hewitt,United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero..."
8806,s8807,Movie,Zubaan,Mozez Singh,Mozez Singh,India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...

In [ ]:
data.loc[data.release_year >= 2020].count()

show_id         1545
type            1545
title           1545
director        1545
cast            1545
country         1235
date_added      1545
release_year    1545
rating          1545
duration        1545
listed_in       1545
description     1545
dtype: int64

#### GroupBy

In [ ]:
data.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,Kirsten Johnson,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,None,None,South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,Julien Leclercq,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,None,None,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,None,None,India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [ ]:
data.groupby("type")["rating"].value_counts()
# data1["rating"].value_counts()

type     rating
Movie    TV-MA       2062
         TV-14       1427
         R            797
         TV-PG        540
         PG-13        490
         PG           287
         TV-Y7        139
         TV-Y         131
         TV-G         126
         NR            75
         G             41
         TV-Y7-FV       5
         NC-17          3
         UR             3
         66 min         1
         74 min         1
         84 min         1
TV Show  TV-MA       1145
         TV-14        733
         TV-PG        323
         TV-Y7        195
         TV-Y         176
         TV-G          94
         NR             5
         R              2
         TV-Y7-FV       1
Name: rating, dtype: int64

In [ ]:
type(data1)

pandas.core.groupby.generic.DataFrameGroupBy

In [ ]:
data.groupby("type").groups

{'Movie': [0, 6, 7, 9, 12, 13, 16, 18, 22, 23, 24, 26, 27, 28, 29, 30, 35, 36, 38, 41, 42, 43, 44, 45, 46, 48, 51, 52, 53, 54, 56, 57, 58, 59, 60, 61, 62, 63, 64, 68, 71, 73, 75, 77, 78, 79, 80, 81, 84, 86, 88, 90, 91, 93, 94, 96, 101, 103, 105, 107, 112, 113, 114, 115, 116, 117, 118, 119, 122, 126, 127, 128, 129, 130, 131, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 149, 150, 151, 152, 155, 156, 157, 158, 159, 161, 162, ...], 'TV Show': [1, 2, 3, 4, 5, 8, 10, 11, 14, 15, 17, 19, 20, 21, 25, 31, 32, 33, 34, 37, 39, 40, 47, 49, 50, 55, 65, 66, 67, 69, 70, 72, 74, 76, 82, 83, 85, 87, 89, 92, 95, 97, 98, 99, 100, 102, 104, 106, 108, 109, 110, 111, 120, 121, 123, 124, 125, 132, 147, 148, 153, 154, 160, 165, 181, 184, 186, 187, 189, 193, 194, 197, 198, 212, 213, 218, 219, 220, 222, 223, 224, 225, 226, 232, 234, 241, 242, 243, 245, 248, 254, 260, 263, 265, 266, 269, 271, 272, 273, 274, ...]}

## Question 2:

In the provided dataset count how many number of tv-shows and movies of each genre are there using group by or whichever other method you see fit.

In [ ]:
data.groupby("type")["genre"].value_counts()

type     genre
Movie    Dramas                  1384
         Comedies                1074
         Documentaries            751
         Action                   721
         Children                 502
         Stand-Up                 321
         Horror Movies            244
         International Movies     114
         Classic Movies            77
         Uncategorized             56
         Thrillers                 49
         Independent Movies        20
         Anime Features            19
         Music                     17
         Cult Movies               12
         Sci-Fi                    11
         Romantic Movies            3
         LGBTQ Movies               1
         Sports Movies              1
TV Show  International TV         690
         Crime TV                 369
         Kids                     359
         British TV               232
         Docuseries               194
         Anime Series             148
         TV Comedies              110
         Reality TV               102
         TV Dramas                 62
         TV Action                 37
         Stand-Up                  33
         Romantic TV               28
         Classic                   21
         TV Shows                  12
         TV Horror                 10
         Spanish-Language           2
         TV Sci                     1
Name: genre, dtype: int64